{% extends 'user/index.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 user_data">
                <div class="row">
                    <div class="user_photo">
                        {% if current_user.image is null %}
                            <img src="/img/default.png" alt="">
                        {% else %}
                            <img src="/uploads/{{ current_user.image }}" alt="">
                        {% endif %}
                    </div>
                    <div class="user_info">
                        <p><b>Name: </b>{{ current_user.firstName }} {{ current_user.lastName }}</p>
                        <p><b>Status: </b>
                            {% if current_user.isActive %}
                                online
                            {% else %}
                                offline
                            {% endif %}
                        </p>
                        <p>
                            <b>Role: </b>
                            {% if is_granted('ROLE_USER_TRAINER') %}
                                trainer
                            {% else %}
                                simple user
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% block user_menu %}
                {{ parent() }}
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-sm-5 posts_form container">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="name">Post name</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="content">Post content</label>
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'cols': 30, 'rows': 5}}) }}
                </div>
                <div class="form-group">
                    <label for="username">Image</label>
                    {{ form_widget(form.image) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-light">Save post</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}