{% extends 'user/index.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 user_data">
                <div class="row">
                    <div class="user_photo">
                        {% if current_user.image is null %}
                            <img src="/img/default.png" alt="">
                        {% else %}
                            <img src="{{ current_user.image }}" alt="">
                        {% endif %}
                    </div>
                    <div class="user_info">
                        <p><a href="#">Info</a></p>
                    </div>
                </div>
            </div>
            {% block user_menu %}
                {{ parent() }}
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-sm-5 posts_form container">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="name">Post name</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="content">Post content</label>
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'cols': 30, 'rows': 5}}) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add post</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}