{% extends 'user/index.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 user_data">

                <ul class="settings_list">
                    <li>
                        <a class="alert-link" href="{{ path('change_profile', {slug: current_user.username})}}">Change profile</a>
                    </li>
                    <li>
                        <a class="alert-link" href="{{ path('change_password', {slug: current_user.username})}}">Change password</a>
                    </li>
                </ul>

                <div class="row settings_form">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label for="oldPassword">Old password</label>
                        {{ form_errors(form.oldPassword) }}
                        {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New password</label>
                        {{ form_errors(form.newPassword.first) }}
                        {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Repeat Password</label>
                        {{ form_errors(form.newPassword.second) }}
                        {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light">Save changes</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {% block user_menu %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}