{% extends 'user/index.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 user_data">

                <ul class="settings_list">
                    <li>
                        <a class="alert-link" href="{{ path('change_profile', {slug: current_user.username})}}">Change profile</a>
                    </li>
                    <li>
                        <a class="alert-link" href="{{ path('change_password', {slug: current_user.username})}}">Change password</a>
                    </li>
                </ul>

                <div class="row settings_form">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label for="username">First name</label>
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="username">Last name</label>
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.isPrivateFollowers) }}
                        <label for="isPrivateFollowers"> Private followers</label>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.isPrivateFollowing) }}
                        <label for="isPrivateFollowing"> Private followings</label>
                    </div>
                    <div class="form-group">
                        <label for="username">Image</label>
                        {{ form_widget(form.image) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light">Save changes</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {% block user_menu %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}