{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user_page.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="col-sm-3 col-md-3 py-2 logo navbar-brand">
                <div class="logo_name text-white">
                    <p><span id="logo_first_name">
                           Sportteam
                       </span> <br>
                        <span id="logo_last_name">
                           One world. One dream.
                       </span>
                    </p>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 user_data">
                <div class="row">
                    <div class="user_photo">
                        <img src="{{ user.image }}" alt="">
                    </div>
                    <div class="user_info">
                        <p>{{ user.firstName }} {{ user.lastName }}</p>
                        <p>Status:
                            {% if user.isActive %}
                                online
                            {% else %}
                                offline
                            {% endif %}
                        </p>
                        <p>
                            Role:
                            {% if is_granted('ROLE_USER_TRAINER') %}
                                trainer
                            {% else %}
                                simple user
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 user_menu">
                <p><a href="{{ path('app_logout') }}">Logout</a></p>
                <p><a href="{{ path('user', {slug: currentUser.username}) }}">My page</a></p>
                <p><a href="{{ path('settings', {slug: currentUser.username}) }}">Settings</a></p>
                {% if is_granted('ROLE_USER_TRAINER') %}
                    <p><a href="{{ path('add_post', {slug: currentUser.username}) }}">Add post</a></p>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="container">
            {% for message in app.flashes('notice') %}
                <div class="col-sm-5 flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            {% for post in userPosts %}
                    <div class="col-sm-5 post_item">
                        <h3>{{ post.name }}</h3>
                        <p>{{ post.content }}</p>
                        <small class="text-muted">Author <a href="{{ path('user', {slug: post.author }) }}">{{ post.author}}</a></small>
                        {% if currentUser.username == user.username %}
                            <a href="{{ path('delete_post', {slug: post.id}) }}"><i class="far fa-trash-alt"></i></a>
                        {% else %}

                            {% if currentUser.username != post.author %}
                            <a href="{{ path('share_post', {slug: post.id}) }}"><i class="fas fa-share"></i></a>
                            {% endif %}

                        {% endif %}
                    </div>
            {% endfor %}
        </div>
{% endblock %}