{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user_page.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="col-sm-3 col-md-3 py-2 logo navbar-brand">
                <div class="logo_name text-white">
                    <p><span id="logo_first_name">
                           Sportteam
                       </span> <br>
                        <span id="logo_last_name">
                           One world. One dream.
                       </span>
                    </p>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 user_data">
                <div class="row">

                    <div class="user_photo">
                        {% if user.image is null %}
                            <img src="/img/default.png" alt="">
                        {% else %}
                            <img src="/uploads/{{ user.image }}" alt="">
                        {% endif %}
                    </div>
                    <div class="user_info">
                        <p><b>Name: </b>{{ user.firstName }} {{ user.lastName }}</p>
                        <p><b>Status: </b>
                            {% if user.isActive %}
                                online
                            {% else %}
                                offline
                            {% endif %}
                        </p>

                        <p><b>Role: </b>
                            {% if user.isTrainer %}
                                trainer
                            {% else %}
                                simple user
                            {% endif %}
                        </p>

                        <p>
                            {% if current_user.username == user.username %}

                            {% else %}
                                {% if not user.isPrivateFollowing %}
                                    <a class="alert-link" href="{{ path('user_following', {slug: user.username}) }}">Following</a> <br>
                                {% endif %}

                                {% if not user.isPrivateFollowers %}
                                    <a class="alert-link" href="{{ path('user_followers', {slug: user.username}) }}">Followers</a>
                                {% endif %}

                            {% endif %}
                        </p>

                        {% if user.isFollowing() %}
                            <p>
                                <a href="{{ path('unfollow', {slug: user.username}) }}">Unfollow</a>
                            </p>
                        {% elseif user.isNotFollowing() %}
                            <p>
                                <a href="{{ path('follow', {slug: user.username}) }}">Follow</a>
                            </p>
                        {% else %}

                        {% endif %}

                    </div>
                </div>
            </div>
            {% block user_menu %}
            <div class="col-sm-3 user_menu">
                <ul>
                    <li><a class="alert-link" href="{{ path('app_logout') }}">Logout</a></li>
                    <li><a class="alert-link" href="{{ path('user', {slug: current_user.username}) }}">My page</a></li>
                    <li><a class="alert-link" href="{{ path('all_users', {slug: current_user.username}) }}">All users</a></li>
                    <li><a class="alert-link" href="{{ path('change_profile', {slug: current_user.username}) }}">Settings</a></li>
                    <li><a class="alert-link" href="{{ path('user_following', {slug: current_user.username}) }}">Following</a></li>
                    <li><a class="alert-link" href="{{ path('user_followers', {slug: current_user.username}) }}">Followers</a></li>
                    {% if is_granted('ROLE_USER_TRAINER') %}
                        <li><a class="alert-link" href="{{ path('add_post', {slug: current_user.username}) }}">Add post</a></li>
                    {% endif %}

                </ul>

            </div>
            {% endblock %}
        </div>
    </div>
        <div class="container">
            {% for message in app.flashes('notice') %}
                <div class="col-sm-5 flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {% for post in userPosts %}
                <div class="row">
                    <div class="col-sm-6 post_item posts_form container">
                        <h5 class="card-title"><b>{{ post.name }}</b></h5>
                        <p class="card-text">{{ post.content }}</p>
                        {% if post.image is null %}

                        {% else %}
                            <img class="card-img-top" src="/uploads/{{ post.image }}" alt="">
                        {% endif %}
                        <p class="card-text">
                            <small class="text-muted">Author <a href="{{ path('user', {slug: post.author }) }}">{{ post.author}}</a></small>

                            {% if not post.isPublished %}
                                <small class="text-muted">(post was deleted)</small>
                            {% endif %}

                            <br>
                            <small class="text-muted">{{ post.dateCreation }}</small>

                            {% if current_user.username == user.username %}

                                {% if current_user.isPostAuthor(post.author) %}
                                    <a href="{{ path('edit_post', {slug: current_user.username, postId: post.id}) }}"><i class="far fa-edit"></i></a>
                                {% endif %}

                                <a href="{{ path('delete_post', {slug: post.id}) }}"><i class="far fa-trash-alt"></i></a>
                            {% else %}

                                {% if  not current_user.isPostAuthor(post.author) %}
                                    <a href="{{ path('share_post', {slug: post.id}) }}"><i class="fas fa-share"></i></a>
                                {% endif %}

                            {% endif %}
                        </p>


                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}